name: Docker Build and Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build Docker image
      run: make

    - name: Test Docker image
      run: |
        mkdir -p test_workdir
        docker run --rm -v ${{ github.workspace }}/test_workdir:/home/builder/android/workdir mlm-games/aosp_7.1 echo "Container test successful"

    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push to Docker Hub
      if: github.event_name != 'pull_request'
      run: |
        docker push mlm-games/aosp_7.1
